<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServletActualizarProducto</servlet-name>
        <servlet-class>com.ma.controladores.ServeletActualizarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarLibro</servlet-name>
        <servlet-class>com.ma.controladores.ServletActualizarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarLibros</servlet-name>
        <servlet-class>com.ma.controladores.ServletBuscarLibros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertarLibro</servlet-name>
        <servlet-class>com.ma.controladores.ServletInsertarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarLibro</servlet-name>
        <servlet-class>com.ma.controladores.ServletBorrarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertaLibro</servlet-name>
        <servlet-class>com.ma.controladores.ServletInsertaLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardaLibro</servlet-name>
        <servlet-class>com.ma.controladores.ServletGuardaLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscaIDLibro</servlet-name>
        <servlet-class>com.ma.controladores.ServletBuscaIDLibro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActualizarProducto</servlet-name>
        <url-pattern>/ServletActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarLibro</servlet-name>
        <url-pattern>/ServletActualizarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarLibros</servlet-name>
        <url-pattern>/ServletBuscarLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertarLibro</servlet-name>
        <url-pattern>/ServletInsertarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarLibro</servlet-name>
        <url-pattern>/ServletBorrarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertaLibro</servlet-name>
        <url-pattern>/ServletInsertaLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardaLibro</servlet-name>
        <url-pattern>/ServletGuardaLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscaIDLibro</servlet-name>
        <url-pattern>/buscar-porid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>PRINCIPAL.html</welcome-file>
    </welcome-file-list>
</web-app>
